<!DOCTYPE html>


<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neithe r/ -->
<!--[if (lt IE 7)]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7])><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if (IE 8)]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if (gt IE 8)]><!--> <html lang="en"><!-- InstanceBegin template="/Templates/template.dwt" codeOutsideHTMLIsLocked="true" --> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />
  <!-- InstanceBeginEditable name="doctitle" -->
  <title>News | Sovereign Arabians</title>
  <!-- InstanceEndEditable -->  <!-- Included CSS Files (Uncompressed) -->
  <!--
  <link rel="stylesheet" href="stylesheets/foundation.css">
  -->
  <!-- InstanceBeginEditable name="head" -->
  <!-- InstanceEndEditable -->
  <!-- Included CSS Files (Compressed) -->
<link rel="stylesheet" href="stylesheets/foundation.min.css">
  <link rel="stylesheet" href="stylesheets/app.css">
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
  <script src="javascripts/modernizr.foundation.js"></script>
  

</head>
<body>
  
  <!-- Header and Nav -->
  
<div class="menu">
  <div class="row">
    <div class="five columns"> 
      <h1><img src="images/logo.png" /></h1>
    </div>
    <div class="seven columns">
      <ul class="nav-bar right">
        <li><a href="index.html">Home</a></li>
        <li><a href="horses.html">Horses</a></li>
        <li><a href="sales.html">Sales</a></li>
        <li><a href="news.html">News</a></li>
        <li><a href="about-us.html">About Us</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
  
  <!-- End Header and Nav -->
  
  
  <!-- First Band (Image) --><!-- InstanceBeginEditable name="content" -->
  <div class="row content">
    <div class="twelve columns">
        <h1>Facebook</h1>
        
       <div class="row">
            <div class="twelve columns">
            
  <!-- Facebook BEGIN -->
  <ul id="facebook">
    <li>Loading...</li>
  </ul>
  <ul id="facebook_albums">
    <li>Loading...</li>
  </ul>
  <script id="facebook_template" type="text/x-jquery-tmpl">
    {{if type != "status" || typeof message != "undefined"}}
    <li>
      <div class="header">
        <a href="http://www.facebook.com/profile.php?id=${from.id}" target="_blank"><img alt="picture" src="https://graph.facebook.com/${from.id}/picture">
        </a>
        <a href="http://www.facebook.com/profile.php?id=${from.id}" target="_blank"><strong>${from.name}</strong>
        </a>
        {{if type == "link"}}
        shared a
        <a href="http://www.facebook.com/profile.php?id=${from.id}" target="_blank">link</a>
        {{/if}}
        <br>
        <abbr class="timeago" title="${created_time}">${created_time}</abbr>
      </div>
      <p>
        {{html message}}
      </p>
      {{if type == "link"}}
      <div class="link">
        <a href="${link}" target="_blank">{{if picture}}
        <img alt="picture" src="${Social.facebookPictureURL(picture)}">
        {{/if}}
        <strong>${name}</strong>
        </a>
        <i>${caption}</i>
        {{if description}}
        <p>${description}</p>
        {{/if}}
      </div>
      {{else}}
      {{if picture}}
      <div>
        <a href="${link}" target="_blank"><img alt="picture" src="${Social.facebookPictureURL(picture)}">
        </a>
      </div>
      {{/if}}
      {{/if}}
    </li>
    {{/if}}
  </script>
  <script id="facebook_album_template" type="text/x-jquery-tmpl">
    {{if type != "friends_walls"}}
    <li>
      <a href="${link}" target="_blank"><img src="https://graph.facebook.com/${id}/picture?type=album" alt="picture"></a>
      <a href="${link}" target="_blank">${name}</a>
      <span>
        {{if count}}
        {{if count == 1}}
        1 photo
        {{else}}
        ${count} photos
        {{/if}}
        {{/if}}
      </span>
    </li>
    {{/if}}
  </script>
  <!-- Facebook END -->
  
            </div>
      </div>

     </div>
  </div>
  <!-- InstanceEndEditable -->
  <div class="about-foot">
  <div class="row">
    <div class="three columns contact">
      <h4>Contact Us:</h4>
      <p><strong>Sovereign Arabians</strong><br>
911 W 126th St, Jenks, OK, 74037<br>
P: 918-978-4677<br>
F: 918-449-1475<br>
E: <a href="mailto:sovereignarabians@gmail.com">sovereignarabians@gmail.com</a></p>
          
    </div>
    <div class="nine columns">
      <h4>About Sovereign Arabians</h4>
      <p class="text-center motto"><strong>Sovereign</strong> - Exceptional in quality, of superlative strength or efficacy<br>
<strong>Arabian</strong> - Exceptional energy, intelligence and gentle disposition</p>
      <p align="center"><em>At Sovereign Arabians we strive to produce the level of quality  expected of the Arabian breed"</em>        </p>
      
    </div>
  </div>
</div>
  
  
  <!-- Footer -->
  
  <footer>
      <div class="row">
        <div class="six columns">
          <ul class="link-list left">
        <li><a href="index.html">Home</a></li>
        <li><a href="horses.html">Horses</a></li>
        <li><a href="sales.html">Sales</a></li>
        <li><a href="news.html">News</a></li>
        <li><a href="about-us.html">About Us</a></li>
        <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>
        <div class="six columns">
          <p>&copy; 2013 Sovereign Arabians / Design by <a href="http://Arabhorse.com" target="_blank">Arabhorse.com</a></p>
        </div>
      </div>
  </footer>

  <!-- Included JS Files (Uncompressed) -->
  <!--
  
  <script src="javascripts/jquery.js"></script>
  
  <script src="javascripts/jquery.foundation.mediaQueryToggle.js"></script>
  
  <script src="javascripts/jquery.foundation.forms.js"></script>
  
  <script src="javascripts/jquery.event.move.js"></script>
  
  <script src="javascripts/jquery.event.swipe.js"></script>
  
  <script src="javascripts/jquery.foundation.reveal.js"></script>
  
  <script src="javascripts/jquery.foundation.orbit.js"></script>
  
  <script src="javascripts/jquery.foundation.navigation.js"></script>
  
  <script src="javascripts/jquery.foundation.buttons.js"></script>
  
  <script src="javascripts/jquery.foundation.tabs.js"></script>
  
  <script src="javascripts/jquery.foundation.tooltips.js"></script>
  
  <script src="javascripts/jquery.foundation.accordion.js"></script>
  
  <script src="javascripts/jquery.placeholder.js"></script>
  
  <script src="javascripts/jquery.foundation.alerts.js"></script>
  
  <script src="javascripts/jquery.foundation.topbar.js"></script>
  
  <script src="javascripts/jquery.foundation.joyride.js"></script>
  
  <script src="javascripts/jquery.foundation.clearing.js"></script>
  
  <script src="javascripts/jquery.foundation.magellan.js"></script>
  
  -->
  
  <!-- Included JS Files (Compressed) -->
  <script src="javascripts/jquery.js"></script>
  <script src="javascripts/foundation.min.js"></script>
  
  <!-- Initialize JS Plugins -->
  <script src="javascripts/app.js"></script>
    <!-- InstanceBeginEditable name="js" -->
  <script src="javascripts/jquery.autolink.js"></script>
  <script src="javascripts/jquery.timeago.js"></script>
  <script src="javascripts/jquery.tmpl.js"></script>
  <script src="javascripts/twitter-text.js"></script>
  <script src="javascripts/social.js"></script>
  <script>
      // "323534131085345" is Facebook page ID
      // "392120024178056|aqQUlwOblkyuLzKmxZm39SeBVck" is Facebook authentication token
      Social.facebook("323534131085345", "392120024178056|aqQUlwOblkyuLzKmxZm39SeBVck");
  </script>

  <!-- InstanceEndEditable -->

	<script type="text/javascript">
    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38045413-11']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
    </script>

</body>
<!-- InstanceEnd --></html>
